.animate {
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.smallToBig {
  animation-name: smallToBig;
  transform: scale(0);
  animation-duration: 1s;
}

@keyframes smallToBig {
  from { transform: scale(0); }
  50% { transform: scale(1.1); }
  to { transform: scale(1); }
}


@keyframes leftIn {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1;}
}

@keyframes rightIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1;}
}

.leftIn {
  animation-name: leftIn;
  opacity: 0;
}

.rightIn {
  animation-name: rightIn;
  opacity: 0;
}

.typing {
  overflow: hidden;
  width: 3px;
  border-right: 3px solid red;
  animation-name: typing, blink-cursor;
  animation-duration: 2s, 1s;
  animation-timing-function: steps(26, end), ease-in;
  animation-fill-mode: forwards;
  animation-delay: 3s, 0s;
  animation-iteration-count: 1, infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 221px; }
}

@keyframes blink-cursor {
  from, to { border-color: transparent }
  50% { border-color: red }
}

@media (prefers-reduced-motion) {
  .typing,
  .leftIn,
  .rightIn,
  .smallToBig {
    animation-name: none;
    opacity: 1;
    transform: none;
    overflow: visible;
  }
}
