@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mt-5 mb-3 text-5xl;
  }

  h2 {
    @apply mt-5 mb-3 text-4xl;
  }

  h3 {
    @apply mt-5 mb-2 text-3xl;
  }

  h4 {
    @apply mt-5 mb-2 text-2xl;
  }

  h5 {
    @apply mt-5 mb-1 text-xl font-medium;
  }

  h6 {
    @apply mt-5 mb-1 text-lg font-medium;
  }
}

@layer utilities {
  .gradient-border-primary,
  .gradient-border-primary:hover {
    box-sizing: border-box;
    position: relative;
    background-clip: padding-box;
    background-color: #fff;
  }

  .gradient-border-primary::before,
  .gradient-border-primary:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: -1px;
    z-index: -1;
    transition-property: margin, background-image;
    transition-duration: 0.5s, 0.5s;
    @apply bg-gradient-to-l from-primary via-secondary to-transparent;
  }

  @media (prefers-color-scheme: dark) {
    .gradient-border-primary,
    .gradient-border-primary:hover {
      background-color: #000;
    }

    .gradient-border-primary::before,
    .gradient-border-primary:hover::before {
      @apply bg-gradient-to-l from-primary via-secondary to-transparent;
    }
  }

  .gradient-border-primary-br::before,
  .gradient-border-primary-br:hover::before {
    margin-top: 0;
    margin-left: 0;
  }

  .gradient-border-primary-br:hover::before,
  .gradient-border-primary-br\:activated::before {
    margin: -3px;
    @apply bg-gradient-to-l from-primary via-secondary to-tertiary;
  }

  .gradient-border-primary-b::before,
  .gradient-border-primary-b:hover::before {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .gradient-border-primary-b:hover::before,
  .gradient-border-primary-b\:activated::before {
    margin-bottom: -3px;
    @apply bg-gradient-to-l from-transparent via-primary to-transparent;
  }
}
